@model WebApp.Models.Weather.City
@{
    ViewBag.Title = "City Search";
}
<h2>City Search</h2>
<p>@Html.ActionLink("Back to List", "Index")</p>
@{if (Model.name == "No City!" || Model.name == "Bad city!")
    { <h4>Error! No city or bad city...</h4> }
    else
    {

<table class="table">
    <tr>
        <th>
            City
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.name)
        <td>
            @Html.ActionLink("Day", "GetWeatherDay", new { city = Model.name }) |
            @Html.ActionLink("3 Days", "GetWeather3Days", new { city = Model.name }) |
            @Html.ActionLink("7 Days", "GetWeather7Days", new { city = Model.name })
        </td>
    </tr>
</table>
        }
    }

<div>
    @using (Html.BeginForm("GetCity", "Weather", FormMethod.Post))
    {
        @Html.Label("Search: ")
        @Html.TextBox("txtName",null, new { @style = "width: 300px; color: black;" })
    }
</div>


