@model WebApp.Models.Weather.City
@{
    ViewBag.Title = "City Search";
}
<h2><img src="https://www.mikeafford.com/store/store-images/tv03_example_light_rain_showers.png" width="50" height="50">City Search</h2>
<p>@Html.ActionLink("Back to List", "Index")</p>
@{if (Model.Name == "No City!" || Model.Name == "Bad city!")
    { <h4>Error! No city or bad city...</h4> }
    else
    {

<table class="table">
    <tr>
        <th>
            City
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Name)
        <td>
            @Html.ActionLink("Day", "GetWeatherDay", new { city = Model.Name }) |
            @Html.ActionLink("3 Days", "GetWeather3Days", new { city = Model.Name }) |
            @Html.ActionLink("7 Days", "GetWeather7Days", new { city = Model.Name }) | | | 
            @Html.ActionLink("Add To Favorites", "AddCity", Model)
        </td>
    </tr>
</table>
        }
    }

<div>
    @using (Html.BeginForm("GetCity", "Weather", FormMethod.Post))
    {
        @Html.Label("Search: ")
        @Html.TextBox("txtName",null, new { @style = "width: 300px; color: black;" })
    }
</div>


