@model WebApp.Models.Weather.RootObject

@{
    ViewBag.Title = "Weather";
}

<h2><img src="https://www.mikeafford.com/store/store-images/tv03_example_light_rain_showers.png" width="50" height="50">Weather</h2>
<hr />
@{ if (Model.ErrorMsg == null && Model.Cod != 404)
    {
    <div>
        <h3>
        <img src=@Model.Sys.FlagUrl height="25" width="45">
        @Model.Name.ToString()
        </h3>
        <h1>@Html.DisplayFor(model => model.Main.Temp)&degC</h1>
         @foreach (var p in Model.Weather)
        {
            <h4>@foreach (var k in Model.Weather)
                { <img src=@k.IcoUrl> }
                @p.Main       
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Weather-Sunrise-icon.png" height="30" width="30">
                @Model.Datetime(@Model.Sys.Sunrise).ToString("t")
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Weather-Sunset-icon.png" height="30" width="30">
                @Model.Datetime(@Model.Sys.Sunset).ToString("t")
            </h4>
        }
        <p>@Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Add To Favorites", "AddCity", new WebApp.Models.Weather.City{ Name = Model.Name, Coord = Model.Coord, Country = Model.Sys.Country, FlagUrl = Model.Sys.FlagUrl }) | @Html.ActionLink("Delete From Favorites", "DeleteCity", new { city = Model.Name })</p>
        <hr />
                
        <h4>Main</h4>
         <dl class="dl-horizontal">
            
            <dt>
                Temperature: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Main.Temp)&degC<br>
            </dd>

             <dt>
                 Min:
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Main.TempMin)&degC
             </dd>

             <dt>
                 Max:
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Main.TempMax)&degC
             </dd>

             <dt>
                 Humidity:
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Main.Humidity) %
             </dd>

             <dt>
                 Pressure:
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Main.Pressure) hPa
             </dd>  

             <dt>
                 Wind speed:
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Wind.Speed) meter/sec
             </dd> 

             <dt>
                 Wind direction:
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Wind.Deg) degrees
             </dd> 
             
             <dt>
                 Clouds:
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Clouds.All) %
             </dd> 
        </dl>
<hr />
        <h4>Other</h4>
        <dl class="dl-horizontal">
            <dt>
                ID:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd> 
            <dt>
                Coordinates:
            </dt>

            <dd>
                longitude - @Html.DisplayFor(model => model.Coord.Lat) <br>
                latitude - @Html.DisplayFor(model => model.Coord.Lat)
            </dd> 
            <dt>
                Country:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sys.Country)
            </dd> 
            <dt>
                Message:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sys.Message)
            </dd> 
        </dl>
</div>
    }
    else
    {
        <div>
            <h4>ERROR!</h4>
            <p>@Html.ActionLink("Back to List", "Index")</p>
            <hr />
            <h6>Have some problems... @Model.ErrorMsg</h6>
        </div>
    }
}
