@model WebApp.Models.Weather.RootObject

@{
    ViewBag.Title = "3 Days Weather Forecast";
}

<h2><img src="https://www.mikeafford.com/store/store-images/tv03_example_light_rain_showers.png" width="50" height="50">3 Days Weather Forecast</h2>
<hr />
@{ if (Model.ErrorMsg == null && Model.Cod != 404)
    {
    <div>
        <h3><img src=@Model.City.FlagUrl height="25" width="45"> @Model.City.Name.ToString()</h3>
        <p>@Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Add To Favorites", "AddCity", Model.City) | @Html.ActionLink("Delete From Favorites", "DeleteCity", new { city = Model.City.Name })</p>
        
        <hr />        
        <table margin="auto" border="0">
            <tr>
                <th></th>
                @foreach (var p in Model.List)
                {
                    <th>@p.Datetime().ToString("d")</th>
                }
            </tr>
            <tr>
                <th></th>
                @foreach (var p in Model.List)
                {
                    <th>@p.Datetime().DayOfWeek</th>
                }
            </tr>
            <tr>
                <td></td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @foreach (var o in p.Weather)
                        {
                            @o.Main<br>
                            <img src= @o.IcoUrl>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td>
                     Day
                </td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Temp.Day&deg
                    </td>
                }
            </tr>
            <tr>
                <td>
                    Min
                </td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Temp.Min&deg
                    </td>
                }
            </tr>
            <tr>
                <td>
                    Max
                </td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Temp.Max&deg
                    </td>
                }
            </tr>
            <tr>
                <td>
                    Eve
                </td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Temp.Eve&deg
                    </td>
                }
            </tr>
            <tr>
                <td>
                    Morning
                </td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Temp.Morn&deg
                    </td>
                }
            </tr>
            <tr>
                <td>
                    Night
                </td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Temp.Night&deg
                    </td>
                }
            </tr>

            <tr>
                <td></td>
                @foreach (var p in Model.List)
                {
                    <td>
                        ------------
                    </td>
                }
            </tr>

            <tr>
                <td>Cloudiness</td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Clouds
                    </td>
                }
            </tr>
        
            <tr>
                <td>Humidity</td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Humidity %
                    </td>
                }
            </tr>

            <tr>
                <td>Pressure</td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Pressure hPa
                    </td>
                }
            </tr>

            <tr>
                <td>Rain</td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Rain
                    </td>
                }
            </tr>

            <tr>
                <td>Speed</td>
                @foreach (var p in Model.List)
                {
                    <td>
                        @p.Speed mps
                    </td>
                }
            </tr>
        </table>
        <p>
            <b>Country:</b> @Model.City.Country
        </p>
        <p>
            <b>Population:</b> @Model.City.Population
        </p>
        <p>
            <b>Coordinates:</b> longitude - @Model.City.Coord.Lon; latitude - @Model.City.Coord.Lat
        </p>
        <hr />
    </div>
    }
    else
    {
        <div>
            <h4>ERROR!</h4>
            <p>@Html.ActionLink("Back to List", "Index")</p>
            <hr />
            <h6>Have some problems... @Model.ErrorMsg</h6>
        </div>
    }
}
