@model List<WebApp.Models.Weather.City>

@{
    ViewBag.Title = "Weather";
}

<h2><img src="https://www.mikeafford.com/store/store-images/tv03_example_light_rain_showers.png" width="50" height="50">Weather</h2>
<br>
<table class="table">
    <tr>
        <th>
            City
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        <td>
            @Html.ActionLink("Day", "GetWeatherDay", new { city = item.Name}) |
            @Html.ActionLink("3 Days", "GetWeather3Days", new { city = item.Name}) |
            @Html.ActionLink("7 Days", "GetWeather7Days", new { city = item.Name})
        </td>
    </tr>
}
</table>


<div>
    @using (Html.BeginForm("GetCity", "Weather", FormMethod.Post))
    {
        @Html.Label("Search: ")
        @Html.TextBox("txtName", null, new { @style = "width: 300px; color: black;" })
    }
</div>